.product-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.product-fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-text {
  background-color: #fb9339; /* Orange color */
  color: #fff;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 10px;
}

.button-container {
  text-align: right;
}

button {
  background-color: #fb9339; /* Orange color */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #4caf50; /* Green color */
}

p-messages {
  margin-top: 20px;
}

.btn-primary {
  background-color: #4caf50; /* Green color */
  border-color: #4caf50; /* Green color */
}

.btn-primary:hover {
  background-color: #66bb6a; /* Lighter green color */
  border-color: #66bb6a; /* Lighter green color */
}

/* Additional styling for PrimeNG file upload component */
.ui-fileupload-choose {
  background-color: #fb9339; /* Orange color */
  border-color: #fb9339; /* Orange color */
}

.ui-fileupload-choose:hover {
  background-color: #f5a104; /* Lighter orange color */
  border-color: #f5a104; /* Lighter orange color */
}
.message-container {
  margin-top: 20px; /* Adjust as needed */
  text-align: center;
}

.message {
  display: block;
  margin-bottom: 5px; /* Adjust as needed */
}



