.product-details {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-images {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #fb9339; /* Change color as needed */
  margin-bottom: 10px;
}

.product-info {
  width: 100%;
  text-align: center;
}

.product-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-info h5 {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
