<div class="product-details" *ngIf="productDetails">
    <div class="details-container">
      <div class="product-images">
        <p-carousel [value]="productDetails.images" [numVisible]="1" [numScroll]="1" [circular]="true"
                    [showIndicators]="true">
          <ng-template let-image pTemplate="item">
            <div class="image-container">
              <img [src]="image?.imageUrl ? image.imageUrl : 'https://www.voursa.com/images/noimage.jpg'"
                   class="product-image"/>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <div class="product-info">
        <h1> {{ productDetails.name }}</h1>
        <div class="price"> {{ productDetails.price }} MRU</div>
        <div class="info-details">
          <h5 style="color: black;">{{ translateService.translate('Depuis') }} :{{ getRelativeTime(productDetails.createDate) }} </h5>
          <h5>{{ translateService.translate('Vue') }} :{{ productDetails.hit }} </h5>
          <p class="product-description" style="color: black;"><br>{{ productDetails.description }}</p>
        </div>
      </div>
    </div>
</div>
