.product-details {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.details-container {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.product-images {
  width: 100%;
  height: 450px; // Adjust the height as needed
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 50%;
    margin-bottom: 0;
    padding-right: 20px;
  }

  .p-carousel .p-carousel-content {
    height: 100%!important;
  }

  .product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.product-info {
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.product-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info-details {
  margin-top: 20px;
}

.info-details h5 {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.info-details p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #fb9339;
}

.vendor-details-card {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.vendor-details {
  display: flex;
  align-items: center;
}

.vendor-profile {
  margin-right: 20px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.vendor-contact {
  flex: 1;
}

.phone-number,
.whatsapp-number {
  margin-top: 10px;
}

.phone-number span,
.whatsapp-number a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.phone-number span:hover,
.whatsapp-number a:hover {
  background-color: green;
  color: #fff;
  cursor: pointer;
}

.phone-number span:hover i,
.whatsapp-number a:hover i {
  color: #fff;
}

.fa {
  margin-right: 5px;
}
