.header {
  background-color: #333; /* Customize as needed */
  color: #fff; /* Customize as needed */
}

.container {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the content horizontally */
  padding: 5px; /* Add some padding around the content */
}

/* Additional styles for footer */
/* app.component.scss */
:host ::ng-deep .custom-menubar {
  background-color: #f5a104;
  color : #fcf9f9 !important; /* Navbar background color */
}
.footer {
  margin-top: 20px;
  background-color: #f5a104; /* Dark background color */
  color: #fff; /* Text color */
  text-align: left; /* Left-align text */
  padding: 40px; /* Add padding */
}

.about-us-container {
  max-width: 800px; /* Limit width for better readability */
  margin: 0 auto; /* Center the content horizontally */
}

.about-us-container h1 {
  font-size: 24px; /* Larger font size for headings */
  margin-bottom: 20px; /* Add some space below headings */
}

.about-us-container h2 {
  font-size: 20px; /* Larger font size for subheadings */
  margin-top: 30px; /* Add some space above subheadings */
}

.about-us-container p {
  line-height: 1.6; /* Increase line height for better readability */
  margin-bottom: 20px; /* Add some space below paragraphs */
}

.footer a {
  color: #fff; /* Text color for links */
  text-decoration: none; /* Remove underline */
  margin-left: 10px; /* Add some spacing */
}

.footer a:hover {
  text-decoration: underline; /* Underline on hover */
}
