.card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
}

.profile-button {
  background-color: #fb9339;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.profile-button:hover {
  background-color: #f5a104;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align products */
  gap: 20px;
}

.card-item {
  flex: 1 1 calc(25% - 20px); /* Adjust card width to occupy 25% of container width with gap */
  max-width: calc(25% - 20px); /* Adjust max-width */
  margin-bottom: 20px; /* Add bottom margin to create space between rows */

  @media screen and (max-width: 767px) { /* Adjust for smaller screens (phones) */
    flex-basis: calc(50% - 20px); /* Display two items per row */
    max-width: calc(50% - 20px); /* Adjust max-width for smaller screens */
  }
}

.product-details {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px #000000;;
  transition: transform 0.3s ease;
}

.product-details:hover {
  transform: translateY(-5px);
}

.image-container {
  position: relative;
  overflow: hidden;
}

.fixed-size-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f38a2e;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-and-price {
  flex: 1;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
}

.price {
  font-size: 14px;
}

.views {
  display: flex;
  align-items: center;
}

.views i {
  margin-right: 5px;
}
