.card {
    /* Add your card styles here */
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer; /* Add cursor pointer to indicate clickable */
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px; /* Adjust the gap as needed */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.fixed-size-image {
    width: 150px; /* Set the desired width */
    height: 150px; /* Set the desired height */
    object-fit: cover; /* or object-fit: contain; depending on your preference */
}
