<div class="about-us-container">
    <h1>{{ translateService.translate('À propos de nous') }}</h1>
    <p>{{ translateService.translate('Bienvenue sur Annoncify, la plateforme où tout le monde peut devenir vendeur et annoncer ses produits. Chez Annoncify, nous nous efforçons de fournir une expérience fluide tant pour les vendeurs que pour les acheteurs.') }}</p>
    
    <h2>{{ translateService.translate('Notre mission') }}</h2>
    <p>{{ translateService.translate('Notre mission est de connecter les vendeurs avec les acheteurs potentiels de manière conviviale et efficace. Nous visons à rendre le processus de publicité et de recherche de produits facile et pratique pour tout le monde.') }}</p>
    
    <h2>{{ translateService.translate('Contactez-nous') }}</h2>
    <p>{{ translateService.translate("Si vous avez des questions, des suggestions ou des commentaires, n'hésitez pas à nous contacter. Nous sommes là pour vous aider !") }}</p>
    <p [innerHTML]="translateService.translate('Téléphone : +222 36537673  &lt;a href=&quot;/contact-us&quot;&gt;ou cliquer ici.&lt;/a&gt;')"></p>

</div>
