<div class="login-container">
  <div class="login-content p-shadow-5">
    <!-- Add this line to display messages -->
    <h2>{{ translationService.translate('Bienvenu') }}</h2>
    <h4>{{ translationService.translate('Se connecter à Annoncify pour ajouter et gérer vos annonces') }}</h4>
    <p-messages [(value)]="msgs"></p-messages> 
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-phone"></i>
      </span>
      <input type="text" pInputText placeholder="{{ translationService.translate('Phone Number') }}" [(ngModel)]="phoneNumber" required="">
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-lock"></i>
      </span>
      <input type="password" pInputText placeholder="{{ translationService.translate('Password') }}" [(ngModel)]="password" required="">
    </div>
    <button type="button" pButton label="{{ translationService.translate('Login') }}" (click)="login()" class="p-button-success"></button>
    <!-- <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div> -->
    <h5>{{ translationService.translate('pas encore member') }} <a href="/signup">{{ translationService.translate('Cliquer Ici') }}</a></h5>
  </div>
</div>
