.login-container {
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
  }
  
  .login-content {
    width: 500px; /* Increased width */
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }
  
  .p-inputgroup {
    margin-bottom: 15px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  